/*
	
Hierarchy:
	# Main Window
	## Tabs
	### Variable List

	
Colors:	
	* some colors picked from here: https://www.materialpalette.com/colors
	
	Dark mode:
		#999c9f		main font color
		#3d3c44		not selected tabs
		#313036		main window background
		#29282d		dark main color, tab background but more importantly Splitter background
		
		#ffd54f		orange yellow
	
	
*/


/* 	-------------------------------------------------------------
	MAIN WINDOW
	------------------------------------------------------------- */
	QWidget[accessibleName="MainWindow"]{background: #313036; color:red;}

	
/* 	-------------------------------------------------------------
	TABS
	------------------------------------------------------------- */	
	QTabWidget::pane {border: 2px solid #29282d; background: #29282d;}  /* border around tab and BG */
	QTabBar::tab {padding: 20px; min-width: 10em;}
	QTabBar::tab:selected {background: #29282d; color:#999c9f; border-top: 5px solid #ffd54f;}
	QTabBar::tab:!selected {background: #3d3c44; color:#898c90;  border-top: 5px solid #313036;}
	
	

/* 	-------------------------------------------------------------
	VARIABLE LIST
	------------------------------------------------------------- */
    QFrame[labelClass="frm_VariableList"]{border-left: 20px solid #2c2d32; color:#898c90;}
    QLabel[labelClass="lbl_VariableList"]{font-size: 12pt; padding: 0.5em 0 0.5em 0; color: #999c9f}

    /* LIST WIDGET */
	QListWidget {background-color: #29282d;  alternate-background-color: #313036; color: #999c9f;
			     border: 0; margin: 0; padding: 0;}
	QListWidget::item {padding: 0.5em; border: 0;}
	QListView::item:hover {background-color: #454545;}
	QListView::item:selected {background-color: #383838;}	
	
	
/* 	-------------------------------------------------------------
	COMBO BOXES
	------------------------------------------------------------- */
	QComboBox {border: 1px solid #6a6a6a; padding: 10px; background: #3d3c44; color: #999c9f;}    
    QComboBox:editable {background: #4a4951; padding: 20px;}  
    QComboBox QAbstractItemView {border: 0; selection-background-color: #595860; margin: 10px;}	
	/*QComboBox::drop-down {background: #494851;}*/

	
/* 	-------------------------------------------------------------
	FOCUS AREA
	------------------------------------------------------------- */
	QFrame[labelClass="frm_FocusArea"]{}
    QFrame[labelClass="frm_FocusStats"]{background-color: #313036; padding: 1em;}
    QFrame[labelClass="frm_FocusTools"]{border: none;}
	QFrame[labelClass="frm_ModBox"]{background-color: #313036; padding: 1em;}	

    QLabel[labelClass="lbl_FocusVariableName"]{font-size: 16pt; padding: 0.5em 0 0.5em 0; color: #999c9f;}
    QLabel[labelClass="History"]{font-size: 12pt; padding: 0.5em 0 0.5em 0;}
    QLabel[labelClass="lbl_Header1"]{font-size: 12pt; padding: 0 0 0.5em 0; color: #999c9f;} 
	
	
/* 	-------------------------------------------------------------
	LABELS :: STATS BOXES 
	------------------------------------------------------------- */
	QLabel[labelClass="lbl_statsbox_txt"]{color:#aaa; text-align: right;} /* Header */
    QLabel[labelClass="lbl_statsbox_val"]{color:#ddd; font-size: 9pt;} /* Header */

	
/* 	-------------------------------------------------------------
	BUTTONS
	-------------------------------------------------------------
	Icons used from: https://www.materialui.co/icons
	*/
	
	QPushButton{background-color: #3d3c44; border: 0; padding:0.7em; margin:0; text-align:left; color: #999c9f;}
	QPushButton:hover{background-color: #494851;}
	QPushButton:pressed{background-color: #55545f;}
	QPushButton:disabled{color: #3d3b44; background-color: #2e2d35;}	
	
	/* CATEGORY BUTTONS */
	QPushButton[labelClass="btn_cat_Plots"]{border-left: 5px solid #55545f; qproperty-icon: url(GUI/Icons/equalizer_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_Plots"]:hover{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_Plots"]:pressed{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}	
	/*QLabel[labelClass="lbl_optStack_Plots_header"]{font-size: 12pt; padding: 0 0 0.5em 0; color: #999c9f; qproperty-icon: url(gui/Icons/equalizer_grey_192x192.png);}*/
	
	QPushButton[labelClass="btn_cat_QualityControl"]{border-left: 5px solid #55545f; qproperty-icon: url(GUI/Icons/multitrack_audio_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_QualityControl"]:hover{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_QualityControl"]:pressed{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}		
																			 
	QPushButton[labelClass="btn_cat_OutlierDetection"]{border-left: 5px solid #55545f; qproperty-icon: url(GUI/Icons/flip_to_front_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_OutlierDetection"]:hover{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_OutlierDetection"]:pressed{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}		
																	
	QPushButton[labelClass="btn_cat_GapFilling"]{border-left: 5px solid #55545f; qproperty-icon: url(GUI/Icons/blur_linear_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_GapFilling"]:hover{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_GapFilling"]:pressed{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}		
																	
	QPushButton[labelClass="btn_cat_Analyses"]{border-left: 5px solid #55545f; qproperty-icon: url(GUI/Icons/layers_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_Analyses"]:hover{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_Analyses"]:pressed{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}		
																	
	QPushButton[labelClass="btn_cat_Resampling"]{border-left: 5px solid #55545f; qproperty-icon: url(GUI/Icons/dashboard_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_Resampling"]:hover{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_Resampling"]:pressed{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}		
																	
	QPushButton[labelClass="btn_cat_Corrections"]{border-left: 5px solid #55545f; qproperty-icon: url(GUI/Icons/apps_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_Corrections"]:hover{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_Corrections"]:pressed{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}		
																	
	QPushButton[labelClass="btn_cat_Export"]
		{border-left: 5px solid #55545f; qproperty-icon: url(GUI/Icons/send_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_Export"]:hover
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}	
	QPushButton[labelClass="btn_cat_Export"]:pressed
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}		
	
	/* CONTROL BUTTONS */
	QPushButton[labelClass="btn_cat_ControlsAdd"]
		{qproperty-icon: url(GUI/Icons/add_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_ControlsAdd"]:hover
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_ControlsAdd"]:pressed
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}		
	/*QPushButton[labelClass="btn_cat_ControlsAdd"]:disabled
		{border-left: 5px solid red; qproperty-icon: url(gui/Icons/not_interested_grey_192x192.png) !important;}*/

	QPushButton[labelClass="btn_cat_ControlsKeep"]
		{qproperty-icon: url(GUI/Icons/playlist_add_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_ControlsKeep"]:hover
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_ControlsKeep"]:pressed
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}	

	QPushButton[labelClass="btn_cat_ControlsRemove"]
		{qproperty-icon: url(GUI/Icons/remove_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_ControlsRemove"]:hover
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_ControlsRemove"]:pressed
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}	

	QPushButton[labelClass="btn_cat_ControlsRun"]
		{qproperty-icon: url(GUI/Icons/play_arrow_grey_192x192.png);}
	QPushButton[labelClass="btn_cat_ControlsRun"]:hover
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #3d3c44);}
	QPushButton[labelClass="btn_cat_ControlsRun"]:pressed
		{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #55545f, stop: 1 #494851);}			
		
	
	
/* 	-------------------------------------------------------------
	SCROLLBARS
	------------------------------------------------------------- */
	/* https://forum.qt.io/topic/41040/pyqt-custom-scrollbar-design-solved/3 */
     QScrollBar:vertical {border: 2px solid #3d3c44; background: #3d3c44; width: 15px; margin: 22px 0 22px 0;}
                          /* margin needed so the up/down buttons can be seen */
     QScrollBar::handle:vertical {background: #55545f; min-height: 20px;}
     QScrollBar::add-line:vertical {border: 2px solid #3d3c44; background: #3d3c44; height: 20px;
                                    subcontrol-position: bottom; subcontrol-origin: margin;}
                                    /* border: around down arrow button_qual_A */
     QScrollBar::sub-line:vertical {border: 2px solid #3d3c44; background: #3d3c44; height: 20px;
                                    subcontrol-position: top; subcontrol-origin: margin;}
                                    /* border: around up arrow button_qual_A */
     QScrollBar::up-arrow:vertical,
     QScrollBar::down-arrow:vertical {border: 50px solid #3d3c44; width: 6px;height: 6px; background: #797887;}
                                      /* color: of "arrow" symbol */
     QScrollBar::add-page:vertical,
     QScrollBar::sub-page:vertical {background: none;}
	 
	 
/* 	-------------------------------------------------------------
	Various
	------------------------------------------------------------- */    
	QLabel {color: #999c9f;}
	QLabel[labelClass="cyan"] {color:#ffd54f; font-weight: bold;}
    
	QLineEdit {width: 2em;}	 
	QLineEdit[labelClass="cyan"] {color:#ffd54f; font-weight: bold; border:1px solid #111; background-color: #263238;
								  font-size: 9pt; qproperty-alignment: 'AlignVCenter | AlignHCenter'; width:20px;}  
    QLineEdit[labelClass="search_box"] {color:#ffd54f; font-weight: bold; border: 1px solid #111;
									    background-color: #263238; padding: 10px; font-size: 10pt;}
    
	QSplitter {background-color: #29282d;}
	QSplitter::handle {background-color: #29282d;}
	

/* 	-------------------------------------------------------------
	SETTINGS WINDOW
	------------------------------------------------------------- */
	QWidget[accessibleName="SettingsWindow"]{background-color: #29282d;}	
	Dummy{color: #eab839;}
	

/* 	-------------------------------------------------------------
	TABLE VIEW
	------------------------------------------------------------- */	
	
	QTableView {
		color: #999c9f;
		background-color: #29282d;
		border: 1px solid #999c9f;
		border-radius: 1px;
		/*width: 7px;
		height: 7px;*/
		margin: 0px;
		alternate-background-color: #313036;
		
	} 
	
	QHeaderView::section {background-color: #37474F; }
	QTableView::item:focus{selection-background-color: #FFEB3B; selection-color: #37474F;}
	QTableView:verticalScrollBar{width: 30px; color:black; /*just for try*/}	
	
/* 	-------------------------------------------------------------
	TEXT AREA
	------------------------------------------------------------- */
	
	QPlainTextEdit {border: 2px solid #3d3c44; background: #29282d; width: 15px; margin: 0; padding: 5px; color: #999c9f}	
	
	
