.red500{color: #f44336}
.pink500{color: #E91E63}
.purple500{color: #9C27B0}
.deeppurple500{color: #673AB7}
.indigo500{color: #3F51B5}
.blue500{color: #2196F3}
.lightblue500{color: #03A9F4}
.cyan500{color: #00BCD4}
.teal500{color: #009688}
.green500{color: #4CAF50}
.lightgreen500{color: #8BC34A}
.lime500{color: #CDDC39}
.yellow500{color: #FFEB3B}
.amber500{color: #FFC107}
.orange500{color: #FF9800}
.deeporange500{color: #FF5722}
.brown500{color: #795548}
.grey500{color: #9E9E9E}
.bluegrey500{color: #607D8B}

p.bg_bluegrey500{background-color: #607D8B}

/* DEFAULTS
------------------------------------------------------------- */
/** {font-size: 100%;}*/
QFrame{}
QSplitter{}
QWidget{background: white;}
QListWidget{background-color: white;  alternate-background-color: whitesmoke; color: #424242; border: 0; margin: 0; padding: 0; border:none;}  /* white, picked, grey 800 */
QLabel{color: #424242; font-size: 8px; background: white; border: none;}  /* blue grey 50, white */
QComboBox{border: 1px solid #B0BEC5; padding: 2px; background: #ECEFF1; color: #424242; font-weight: bold;}  /* blue grey 200, 50, grey 800 */
QComboBox:disabled{color: #BDBDBD; background-color: transparent;}  /* grey 400, grey 50 */
QLineEdit:disabled{color: #BDBDBD; background-color: transparent;}  /* grey 400, grey 50 */



/* Headers */
QLabel[labelClass="lbl_Header1"]{font-size: 14pt; padding: 0 0 0 0; color: #424242; background-color: transparent; font-weight: bold;}
QLabel[labelClass="lbl_Header1_margin"]{font-size: 14pt; padding: 0 0 0 0; color: #424242; background-color: transparent; font-weight: bold; margin-left: 20px;}
QLabel[labelClass="lbl_Header2"]{font-size: 11pt; padding: 0 0 0.5em 0;  color: #424242; background-color: transparent; font-weight: bold;}
QLabel[labelClass="lbl_Header3"]{font-size: 8pt; padding: 0 0 0.5em 0;  color: #424242; background-color: transparent; font-weight: bold;}
QLabel[labelClass="lbl_info_hover"]{font-size: 10pt; padding: 0 0 0.5em 0;  color: #424242; background-color: transparent; font-weight: bold;}

QLabel[labelClass="lbl_tab_settings_header1"]{
	font-size: 12pt; padding: 0;  color: #424242; border-left: 5px solid #90A4AE;
	background-color: transparent; font-weight: bold;}
QLabel[labelClass="lbl_tab_settings_subheader1"]{
	font-size: 8pt; padding: 0;  margin:0; color: #424242; border-left: 5px solid #B0BEC5;
	background-color: transparent; font-weight: bold; qproperty-alignment: 'AlignVCenter | AlignLeft';
	}  /* red 50 */

QLabel[labelClass="lbl_bold1"]{font-size: 8pt; padding: 0;  font-weight: bold; margin:0; color: #37474F;}


/* MAIN WINDOW
-------------- */
QWidget[accessibleName="MainWindow"]{background: #dcdcdc;}

/* TOP MENU (DROPDOWN)
---------------------- */
QMenuBar::item {background-color: white; padding:5px; color: black;}
QMenuBar::item:selected {background-color: #FFC107}
/*QMenuBar::item:pressed {background-color: red}*/
/*QPushButton[labelClass='top_menu_dropdown_item']{background-color: red; padding: 10px;}*/

/* TABS
------------------------------------------------------------- */
QTabWidget::pane{border: none; background: transparent; padding:0;}  /* border around tab and BG */
QTabBar::tab{padding: 0.5em; min-width: 7em; height: 2em;}
QTabBar::tab:selected{background: #FFFFFF; border-top: 0.2em solid #607D8B;}
QTabBar::tab:!selected{background: #dcdcdc; border-top: 0.2em solid #dcdcdc; color: #5c5c5c}

/* SPLITTER SPECIFIC
------------------------------------------------------------- */
QSplitter::handle{background-color: #e2e2e2;}

/* FOCUS AREA
------------------------------------------------------------- */
QFrame[labelClass="frm_FocusArea"]{
	background-color: qlineargradient(x1: 0,y1:0,x2: 0, y2: 1, stop: 0 #F5F5F5, stop: 1 #EEEEEE); border: none; padding: 5px;}
QToolBar[labelClass="frm_FocusTools"]{background-color: transparent; border: none;}
QToolBar[labelClass="frm_FocusTools"] QWidget{background-color: transparent; color: #424242; border: none;}
QWidget[labelClass="_StretchWidget"]{background-color: transparent; border: none;}
QFrame[labelClass="frm_PlotTools"]{background-color: white; padding: 0; border: 1px solid #dcdcdc;}

/* MODBOXES: Categories, Options, Refinements, Controls, LogBox
------------------------------------------------------------- */
QFrame[labelClass="frm_Categories"],
QFrame[labelClass="frm_Options"],
QFrame[labelClass="frm_Refinements"],
QFrame[labelClass="frm_Controls"],
QFrame[labelClass="frm_LogBox"]{background-color: white; border: 1px solid #d2d2d2;}


/* LOGBOX TEXT AREA
------------------------------------------------------------- */
QTextEdit {background: transparent; border: none; margin: 0; padding: 5px; color: #424242}
/*QPlainTextEdit {background: transparent; border: none; margin: 0; padding: 5px; color: #424242}*/


/* INFOBOXES */
/* --------- */
QTextEdit[labelClass="infobox"]{background: transparent; border: none; margin: 0; padding: 5px; padding-left: 20px; color: #424242}


/* STATS BOX SPECIFIC
------------------------------------------------------------- */
QFrame[labelClass="frm_statsbox"]{background-color: transparent; border: none; padding: 20px;}  /* grey */
QLabel[labelClass="lbl_statsbox_txt"]{color: #8e8e8e; background-color: transparent;}  /* grey 600 */
QLabel[labelClass="lbl_statsbox_val"]{background-color: #fafafa; font-size: 8pt; border: 1px solid #E0E0E0;
	qproperty-alignment: 'AlignVCenter | AlignHCenter'; }
QLabel[labelClass="lbl_statsbox_val_trunc"]{background-color: #fafafa; font-size: 8pt; border: 1px solid #E0E0E0;
	qproperty-alignment: 'AlignVCenter | AlignHLeft'; overflow: hidden; white-space: nowrap;
  	display: block; text-overflow: ellipsis; max-width: 200px;}  /* white */


/* VARIABLE LIST SPECIFIC
------------------------------------------------------------- */
QFrame[labelClass="frm_VariableList"]{border-top: 5px solid #CFD8DC;}
QListWidget::item{padding: 0.2em; border: 0;}
QListView::item:hover{background-color: #CFD8DC;}  /* blue grey 100 */
QListView::item:selected{background-color: #FFE082; color: #424242}  /* amber 200, grey 800 */
QListView:disabled{color: #BDBDBD; background-color: transparent;}  /* grey 400, grey 50 */

QWidget[labelClass="customListItem"]{background-color: transparent;}
QLabel[labelClass="customListItemText"]{background-color: transparent;}
QLabel[labelClass="customListItemTagGreen"]{color: white; background-color: #43A047; border-left: 5px solid #66BB6A; font-weight: bold;}
QLabel[labelClass="customListItemTagBlueGrey"]{color: white; background-color: #546E7A; border-left: 5px solid #78909C; font-weight: bold;}
QLabel[labelClass="customListItemTagAmber"]{color: white; background-color: #FFB300; border-left: 5px solid #FFCA28; font-weight: bold;}
QLabel[labelClass="customListItemTagRed"]{color: white; background-color: #e53935; border-left: 5px solid #ef5350; font-weight: bold;}
QLabel[labelClass="customListItemTagCyan"]{color: white; background-color: #00ACC1; border-left: 5px solid #26C6DA; font-weight: bold;}
QLabel[labelClass="customListItemTagYellow"]{color: white; background-color: #FDD835; border-left: 5px solid #FFEE58; font-weight: bold;}



/* SEARCH BOX SPECIFIC
------------------------------------------------------------- */
QLineEdit{width: 2em; qproperty-alignment: 'AlignVCenter | AlignHCenter'; background-color: white;
		  border:none; border-bottom:1px solid #ECEFF1; color: #37474F}  /* blue grey 50, 800  */
QLineEdit[labelClass="search_box"]{font-weight: bold; padding: 10px; font-size: 12pt;}
QLineEdit[labelClass="cyan"]{font-weight: bold; width:20px;}


/* COMBO BOXES */
/* ----------- */
QComboBox:editable {background: white;}
QComboBox QAbstractItemView {border: 0; selection-background-color: #CFD8DC; selection-color: #424242; margin: 10px;}

QFrame[labelClass="test"]{}
	/*To style ::item, see here: https://stackoverflow.com/questions/33415621/style-qtcombobox-qlistviewitem-set-text-padding*/
	/*QComboBox QAbstractItemView::item {background: rgb(47, 175, 178); border: none; padding-left: 10px;}*/
	/*QComboBox::drop-down {background: #494851;}*/

/*
Button icons used from: https://www.materialui.co/icons
*/



/* BUTTONS FILETYPES */
/* ----------------- */
/*QPushButton[labelClass="btn_filetype_EddyPro"]{background-color: #FFF9C4;} /* yellow 100 */
/*QPushButton[labelClass="btn_filetype_EddyPro"]:hover{background-color: #FFF59D;} /* yellow 200 */
/*QPushButton[labelClass="btn_filetype_EddyPro"]:pressed{background-color: #FFF176;} /* yellow 300 */
/*QPushButton[labelClass="btn_filetype_AmpCSV"]{background-color: #C8E6C9;} !* green 100 *!*/
/*QPushButton[labelClass="btn_filetype_AmpCSV"]:hover{background-color: #A5D6A7;} !* green 200 *!*/
/*QPushButton[labelClass="btn_filetype_AmpCSV"]:pressed{background-color: #81C784;} !* green 300 *!*/


	/* CATEGORY ICONS
		are imported in the code, required for GUI programming (fbs) */


/* BUTTONS */
/* --------------- */
QPushButton{background-color: #f7f7f7; border: 1px solid #f2f2f2; padding:0.8em; margin:0;
	text-align:left; color: #424242;}  /* grey 100, grey 800 */

QPushButton:hover{background-color: #CFD8DC;}  /* blue grey 100 */
QPushButton:pressed{background-color: #B0BEC5;}  /* blue grey 200 */
QPushButton:disabled{color: #BDBDBD; background-color: transparent;}  /* grey 400, grey 50 */

QPushButton[labelClass="btn_add_as_new_var"] {background-color: #9CCC65; font-weight: bold; color: white;}  /* light green 400 */
QPushButton[labelClass="btn_add_as_new_var"]:hover {background-color: #AED581;}  /* 300 */
QPushButton[labelClass="btn_add_as_new_var"]:pressed {background-color: #8BC34A;}  /* 500 */
QPushButton[labelClass="btn_add_as_new_var"]:disabled {color: #BDBDBD; background-color: transparent;}

QPushButton[labelClass="btn_keep_marked"] {background-color: #9CCC65; font-weight: bold; color: white;}  /* light green 400 */
QPushButton[labelClass="btn_keep_marked"]:hover {background-color: #AED581;}  /* 300 */
QPushButton[labelClass="btn_keep_marked"]:pressed {background-color: #8BC34A;}  /* 500 */
QPushButton[labelClass="btn_keep_marked"]:disabled {color: #BDBDBD; background-color: transparent;}

QPushButton[labelClass="btn_remove_marked"] {background-color: #9CCC65; font-weight: bold; color: white;}  /* light green 400 */
QPushButton[labelClass="btn_remove_marked"]:hover {background-color: #AED581;}  /* 300 */
QPushButton[labelClass="btn_remove_marked"]:pressed {background-color: #8BC34A;}  /* 500 */
QPushButton[labelClass="btn_remove_marked"]:disabled {color: #BDBDBD; background-color: transparent;}

QPushButton[labelClass="btn_export"] {background-color: #FF9800; font-weight: bold; color: white;}  /* orange 300 */
QPushButton[labelClass="btn_export"]:hover {background-color: #FFCC80;}  /* 200 */
QPushButton[labelClass="btn_export"]:pressed {background-color: #FFA726;}  /* 400 */
QPushButton[labelClass="btn_export"]:disabled {color: #BDBDBD; background-color: transparent;}

QPushButton[labelClass="btn_red"] {background-color: #ef9a9a; font-weight: bold; color: white;}  /* red 200 */
QPushButton[labelClass="btn_red"]:hover {background-color: #e57373;}  /* 300 */
QPushButton[labelClass="btn_red"]:pressed {background-color: #f44336;}  /* 500 */
QPushButton[labelClass="btn_red"]:disabled {color: #BDBDBD; background-color: transparent;}

QPushButton[labelClass="btn_teal"] {background-color: #80CBC4; font-weight: bold; color: white;}  /* teal 200 */
QPushButton[labelClass="btn_teal"]:hover {background-color: #4DB6AC;}  /* 300 */
QPushButton[labelClass="btn_teal"]:pressed {background-color: #009688;}  /* 500 */
QPushButton[labelClass="btn_teal"]:disabled {color: #BDBDBD; background-color: transparent;}

QPushButton[labelClass="btn_amber"] {background-color: #FFA000; font-weight: bold; color: white;}  /* amber 700 */
QPushButton[labelClass="btn_amber"]:hover {background-color: #FFB300;}  /* 600 */
QPushButton[labelClass="btn_amber"]:pressed {background-color: #FF8F00;}  /* 800 */
QPushButton[labelClass="btn_amber"]:disabled {color: #BDBDBD; background-color: transparent;}

/* For gradient background, use this:
QPushButton[labelClass="btn_cat_Plots"]:hover{background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
stop: 0 #E0E0E0, stop: 1 #BDBDBD);} */


/* TIME RANGE */
/* ---------- */
QLabel[labelClass="lbl_info2"] {font-size: 8pt; padding: 0;  color: #546E7A; background-color: transparent; font-weight: bold;}
QLabel[labelClass="lbl_info"] {font-size: 8pt; padding: 0;  color: #424242; background-color: transparent; font-weight: bold;}
QComboBox[labelClass="timerange"]{padding: 1px;}
QPushButton[labelClass="btn_timerange"]{padding:0.4em; text-align:center;}



/* SCROLLBARS GENERAL */
/* ------------------ */
/* https://forum.qt.io/topic/41040/pyqt-custom-scrollbar-design-solved/3 */
QScrollBar:vertical {border: 2px solid #f0f0f0; background: #f0f0f0; width: 10px; margin: 22px 0 22px 0;}  /* margin needed so the up/down buttons can be seen */
QScrollBar::handle:vertical {background: #dbdbdb; min-height: 20px;}
QScrollBar::handle:vertical:hover {background: #cdcdcd; min-height: 20px;}
QScrollBar::add-line:vertical {border: 2px solid #f0f0f0; background: #f0f0f0; height: 20px; subcontrol-position: bottom; subcontrol-origin: margin;}  /* border: around down arrow button_qual_A */
QScrollBar::sub-line:vertical {border: 2px solid #f0f0f0; background: #f0f0f0; height: 20px; subcontrol-position: top; subcontrol-origin: margin;}  /* border: around up arrow button_qual_A */
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {border: 50px solid #f0f0f0; width: 6px;height: 6px; background: #797887;}  /* color: of "arrow" symbol */
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {background: none;}


/*QScrollBar:horizontal {border: 20px solid blue; background: red; width: 1000px;}  !* margin needed so the up/down buttons can be seen *!*/
QScrollBar::handle:horizontal {background: #dbdbdb; min-height: 10px;}
QScrollBar::handle:horizontal:hover {background: #cdcdcd; min-height: 10px;}
/*QScrollBar::add-line:horizontal {border: 2px solid #f0f0f0; background: #f0f0f0; height: 20px; subcontrol-position: bottom; subcontrol-origin: margin;}  !* border: around down arrow button_qual_A *!*/
/*QScrollBar::sub-line:horizontal {border: 2px solid #f0f0f0; background: #f0f0f0; height: 20px; subcontrol-position: top; subcontrol-origin: margin;}  !* border: around up arrow button_qual_A *!*/
/*QScrollBar::up-arrow:horizontal,*/
/*QScrollBar::down-arrow:horizontal {border: 50px solid #f0f0f0; width: 6px;height: 6px; background: #797887;}  !* color: of "arrow" symbol *!*/
/*QScrollBar::add-page:horizontal,*/
/*QScrollBar::sub-page:horizontal {background: none;}*/


/* Various
------------------------------------------------------------- */
	QLabel[labelClass="cyan"] {color:#424242; font-weight: bold;}


/* DIALOG WINDOWS */
/* -------------- */
QWidget[accessibleName="SettingsWindow"]{background-color: white;}
QFrame[accessibleName="SimpleSettingsWindowFrame"]{background-color: white; padding: 10px; border-left:10px solid #CFD8DC;}




Dummy{color: #eab839;}


/* TABLE VIEW
------------------------------------------------------------- */
	QTableView {
		color: #37474F;
		background-color: white;
		border: 1px solid white;
		border-radius: 1px;
		/*width: 7px;
		height: 7px;*/
		margin: 0px;
		/*min-width: 100px;*/
		alternate-background-color: #ECEFF1;

	}

	QHeaderView::section {background-color: #CFD8DC; border-style: none; border-right: 1px solid white; padding: 5px;}
	QTableView::item:focus{selection-background-color: #fff06a; selection-color: #37474F;}
	QTableView:verticalScrollBar{width: 30px; color:black; /*just for try*/}

/*QToolTip { color: #455A64; border-top: 2px solid #455A64; padding: 5px; border-radius: 5px;}  !* blue grey 50 700 *!*/
QToolTip {background-color: #ECEFF1; color: #455A64; border: 2px solid #CFD8DC; padding: 2px; border-radius: 3px;
	qproperty-alignment: 'AlignVCenter | AlignHCenter';} /* blue grey 50 100 700 */
/* CHECKBOXES */
/*QCheckBox::indicator {background-color: red;}*/
/*QCheckBox::indicator:checked {background-color: green;}*/
/*QCheckBox::indicator:unchecked {image:url("images/switch1_on.png");}*/


/*
	QDateEdit
*/
QDateEdit{background-color: #ECEFF1; border: 1px solid #B0BEC5; spacing: 5px; font-weight: bold;}
QDateEdit:disabled{color: #BDBDBD; background-color: transparent;}  /* grey 400, grey 50 */
QDateTimeEdit {border: 1px solid #CFD8DC; color: #37474F; font-weight: bold; background: #ECEFF1; padding: 2px;}

/*https://stackoverflow.com/questions/57842708/qt-qdateedit-custom-styling-sheet*/